<phpunit bootstrap="tests/bootstrap.php" colors="true" >
    <testsuites>
        <testsuite name="JsonRpcLib/JsonRpcLib unit test suite">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="JsonRpcLib/JsonRpcLib integration test suite">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>lib</directory>
        </whitelist>
    </filter>
</phpunit>
