<phpunit bootstrap="tests/bootstrap.php" colors="true" >
    <testsuites>
        <testsuite name="JsonRpcLib/JsonRpcLib server test suite">
            <directory>tests/Server</directory>
        </testsuite>
        <testsuite name="JsonRpcLib/JsonRpcLib client test suite">
            <directory>tests/Client</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>lib</directory>
        </whitelist>
    </filter>
</phpunit>
