<phpunit bootstrap="./bootstrap.php" colors="true" >
    <testsuites>
        <testsuite name="marcinsoja/JsonRpcLib server test suite">
            <directory>./Server</directory>
        </testsuite>
        <testsuite name="marcinsoja/JsonRpcLib client test suite">
            <directory>./Client</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../lib/</directory>
        </whitelist>
    </filter>
    <logging>
       <log type="coverage-html" target="./report-coverage" charset="UTF-8" />
    </logging>
</phpunit>
