<phpunit bootstrap="../tests/bootstrap.php"
        colors="true" 
        backupGlobals="false"
        backupStaticAttributes="false"
        strict="true"
        verbose="true" >
    <testsuites>
        <testsuite name="JsonRpcLib/JsonRpcLib unit test suite">
            <directory>../tests/Unit</directory>
        </testsuite>
        <testsuite name="JsonRpcLib/JsonRpcLib integration test suite">
            <directory>../tests/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../lib</directory>
        </whitelist>
    </filter>
    <logging>
    <log type="coverage-html" target="coverage" title="JsonRpcLib"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="logs/clover.xml"/>
    <log type="junit" target="logs/junit.xml"
         logIncompleteSkipped="false"/>
   </logging>
</phpunit>
